<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Antiques Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="./assets/back.png" routerLink="/tabs/tab1" alt="back" class="back-img">
    <ion-card-header>
Antique Scottish Sterling Silver Teapot    </ion-card-header>

    <ion-card-content>
      <img src="https://tse1.mm.bing.net/th?id=OIP.DTgMR6ico55IejRtHdNf0AHaHa&pid=Api&P=0&h=180" alt="Profile Image" class="profile-img">
      The antique Scottish sterling silver teapot epitomizes centuries-old craftsmanship, cherished for its elegance and heritage. Crafted by skilled silversmiths during the 18th and 19th centuries, these teapots symbolized refinement and social status, adorning the tables of the Scottish elite. Today, they remain prized treasures, coveted by collectors for their intricate designs and historical significance.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Marcus Aurelius
    </ion-card-header>

    <ion-card-content>
      <img src="https://tse2.mm.bing.net/th?id=OIP.LazthGVwXXbHVWP4LNv7sgHaKf&pid=Api&P=0&h=180" alt="Profile Image" class="profile-img">
      Marcus Aurelius (born April 26, 121 CE, Rome [Italy]—died March 17, 180, Vindobona [Vienna, Austria] or Sirmium,
      Pannonia) Roman emperor (161–180), best known for his Meditations on Stoic philosophy. Marcus Aurelius has
      symbolized for many generations in the West the Golden Age of the Roman Empire.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      renaissance    </ion-card-header>

    <ion-card-content>
      <img src="https://tse2.mm.bing.net/th?id=OIP.fAcRjyHoXOFWV9HhZgxmAAHaEb&pid=Api&P=0&h=180" alt="Profile Image" class="profile-img">
      Renaissance is a French word meaning “rebirth.” It refers to a period in European civilization that was marked by a revival of Classical learning and wisdom. The Renaissance saw many contributions to different fields, including new scientific laws, new forms of art and architecture, and new religious and political ideas.
    </ion-card-content>
  </ion-card>

</ion-content>